@using Sales.Areas.User.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        Login
    </title>
    <meta name="description" content="Login">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
    <!-- Call App Mode on ios devices -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- base css -->
    <link rel="stylesheet" media="screen, print" href="~/Content/Manage/css/vendors.bundle.css">
    <link rel="stylesheet" media="screen, print" href="~/Content/Manage/css/app.bundle.css">
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/Manage/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/Manage/img/favicon/favicon-32x32.png">
    <link rel="mask-icon" href="~/Content/Manage/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <!-- Optional: page related CSS-->
    <link rel="stylesheet" media="screen, print" href="~/Content/Manage/css/page-login.css">
</head>
<body>
    <div class="blankpage-form-field">
        <div class="page-logo m-0 w-100 align-items-center justify-content-center rounded border-bottom-left-radius-0 border-bottom-right-radius-0 px-4">
            <a href="/" class="page-logo-link press-scale-down d-flex align-items-center">
                <span class="page-logo-text mr-1">@Resources.language.manage_user_login_title</span>
            </a>
        </div>
        <div class="card p-4 border-top-left-radius-0 border-top-right-radius-0">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                <span class="help-block">
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </span>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                <span class="help-block">
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </span>
            </div>
                <div class="form-group text-left">
                    <div class="custom-control custom-checkbox">
                       
                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-control-input"})
                        @Html.LabelFor(m => m.RememberMe, new { @class = "custom-control-label"})

                    </div>
                </div>
                <button type="submit" class="btn btn-default float-right">@Resources.language.manage_user_login</button>
            }
        </div>
        <div class="blankpage-footer text-center">
            <strong>@Html.ActionLink(@Resources.language.home_title, "Index", "Home", new { area = ""}, null)</strong> | <strong>@Html.ActionLink("Recover password", "ForgotPassword")</strong> | <strong>@Html.ActionLink("Register as a new user", "Register")</strong>
        </div>
    </div>
    @*<div class="login-footer p-2">
        <div class="row">
            <div class="col col-sm-12 text-center">
                <i><strong>System Message:</strong> You were logged out from 198.164.246.1 on Saturday, March, 2017 at 10.56AM</i>
            </div>
        </div>
    </div>*@
    @*<video poster="~/Content/Manage/img/backgrounds/clouds.png" id="bgvid" playsinline autoplay muted loop>
        <source src="~/Content/Manage/media/video/cc.webm" type="video/webm">
        <source src="~/Content/Manage/media/video/cc.mp4" type="video/mp4">
    </video>*@
    <!-- base vendor bundle:
        DOC: if you remove pace.js from core please note on Internet Explorer some CSS animations may execute before a page is fully loaded, resulting 'jump' animations
                + pace.js (recommended)
                + jquery.js (core)
                + jquery-ui-cust.js (core)
                + popper.js (core)
                + bootstrap.js (core)
                + slimscroll.js (extension)
                + app.navigation.js (core)
                + ba-throttle-debounce.js (core)
                + waves.js (extension)
                + smartpanels.js (extension)
                + src/../jquery-snippets.js (core) -->
    <script src="~/Content/Manage/js/vendors.bundle.js"></script>
    <script src="~/Content/Manage/js/app.bundle.js"></script>
    <!-- Page related scripts -->
</body>
</html>