@model Company.Areas.Manage.Models.ProductImage

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.ProductId, htmlAttributes: new { @for = "ParentID" })
                @Html.DropDownListFor(m => m.ProductId, new SelectList(ViewBag.ProductList, "Value", "Text"), new { @id = "ParentID", @class = "selectpicker form-control" })
                @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @for = "Name" })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @id = "Name", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-4">
            @Html.LabelFor(model => model.Path)
            <div class="input-group">
                @Html.TextBoxFor(model => model.Path, new { @id = "text-image", @class = "form-control" })
                <span class="input-group-btn">
                    <button id="upload-image" class="btn btn-default" type="button">Browser...</button>
                </span>
            </div><!-- /input-group -->
        </div>
   
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                 <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    <script src="~/Extends/Content/Plugin/ckfinder/ckfinder.js"></script>
    <script>
        $(document).ready(function () {

            var finder = new CKFinder();

            function file(buttonId, txtboxId) {
                $(buttonId).click(function () {
                    finder.selectActionFunction = function (fileUrl) {
                        document.getElementById(txtboxId).value = fileUrl;
                    }
                    finder.popup();
                });
            }

           
            file("#upload-image","text-image");
            
        });
    </script>
}