@model Company.Models.ArticleView
@using System.Threading
@using Microsoft.AspNet.Identity.Owin
@using Company.Models
@using Company.Extends.Language

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Blog.cshtml";

    var language = Thread.CurrentThread.CurrentCulture.DisplayName;
    var UserManage = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>();

}

<div id="blog-entry" class="blog-entry section col-md-8 col-sm-8 col-xs-12">
    <article class="post">
        <h2 class="title">@Model.ArticleLanguage.Name</h2>
        <div class="meta">
            <ul class="meta-list list-inline">
                <li class="post-time post_date date updated">@Model.Article.CreateTime</li>
                <li class="post-author"> @Resource.website_blog_by
                    <a href="#">
                        @{
                            try
                            {
                                @UserManage.FindByIdAsync(Model.Article.CreateUser).Result.UserName;
                            }
                            catch
                            {
                                <label>@Resource.website_null</label>;
                            }
                        }
                    </a>
                </li>
                @*<li class="post-comments-link">
                    <a href="#comment-area"><i class="fa fa-comments"></i>8 Comments</a>
                </li>*@
            </ul><!--//meta-list-->
        </div><!--meta-->
        <div class="post-thumb">
            <img class="img-responsive" src="@Model.ArticleLanguage.Image" alt="" />
        </div><!--//post-thumb-->
        <div class="content">
            @Html.Raw(@Model.ArticleLanguage.Content)
        </div>
    </article><!--//post-->
</div><!--//blog-entry-->
