<!-- #NAVIGATION -->
<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS/SASS variables -->
<aside id="left-panel">

    <!-- User info -->
    <div class="login-info">
        <span>
            <!-- User image size is adjusted inside CSS, it should stay as is -->

            <a href="/manage/user" id="show-shortcut" data-action="toggleShortcut">
                <img src="https://dummyimage.com/600x400/000/fff" alt="me" class="online" />
                <span>
                    @User.Identity.Name
                </span>
                <i class="fa fa-angle-down"></i>
            </a>

        </span>
    </div>
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!--
        NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul>
            <li class="">
                <a href="@Url.Action("Index","Home", new { area = "Manage"})" title="blank_"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Trang chủ</span></a>
            </li>
            <li class="">
                <a href="@Url.Action("Edit","Option", new { area = "Manage" })" title="menu"><i class="fa fa-lg fa-fw fa-cog"></i> <span class="menu-item-parent">Cài đặt</span></a>
            </li>
            <li class="">
                <a href="@Url.Action("Index","Menu", new { area = "Manage" })" title="menu"><i class="fa fa-lg fa-fw fa-list"></i> <span class="menu-item-parent">Menu</span></a>
            </li>

            <li class="">
                <a href="@Url.Action("Index","Slider", new { area = "Manage" })" title="menu"><i class="fa fa-lg fa-fw fa-sliders"></i> <span class="menu-item-parent">Slider</span></a>
            </li>

            <li class="">
                <a href="@Url.Action("Index","Category", new { area = "Manage" })" title="menu"><i class="fa fa-lg fa-fw fa-file-text"></i> <span class="menu-item-parent">Danh mục</span></a>
            </li>

            <li class="">
                <a href="@Url.Action("Index","Product", new { area = "Manage" })" title="menu"><i class="fa fa-lg fa-fw fa-shopping-cart"></i> <span class="menu-item-parent">Sản phẩm</span></a>
            </li>

            <li class="">
                <a href="@Url.Action("Index","Article", new { area = "Manage" })" title="menu"><i class="fa fa-lg fa-fw fa-newspaper-o"></i> <span class="menu-item-parent">Bài viết</span></a>
            </li>
            
        </ul>
    </nav>

    <span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>

</aside>
<!-- END NAVIGATION -->
