<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

    <title>@ViewBag.Title</title>
    <link href="~/Plugins/bootstrap/css/bootstrap-manage.css" rel="stylesheet" />
    <link href="~/Content/areas/manage/smartadmin-production.css" rel="stylesheet" />
    <link href="~/Content/areas/manage/smartadmin-production-plugins.css" rel="stylesheet" />
    <link href="~/Content/areas/manage/smartadmin-skins.css" rel="stylesheet" />
    <link href="~/Plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <!-- #APP SCREEN / ICONS -->
    <!-- Specifying a Webpage Icon for Web Clip
         Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="~/Images/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Images/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Images/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Images/splash/touch-icon-ipad-retina.png">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="~/Images/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="~/Images/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="~/Images/splash/iphone.png" media="screen and (max-device-width: 320px)">

</head>

<!--

    TABLE OF CONTENTS.

    Use search to find needed section.

    ===================================================================

    |  01. #CSS Links                |  all CSS links and file paths  |
    |  02. #FAVICONS                 |  Favicon links and file paths  |
    |  03. #GOOGLE FONT              |  Google font link              |
    |  04. #APP SCREEN / ICONS       |  app icons, screen backdrops   |
    |  05. #BODY                     |  body tag                      |
    |  06. #HEADER                   |  header tag                    |
    |  07. #PROJECTS                 |  project lists                 |
    |  08. #TOGGLE LAYOUT BUTTONS    |  layout buttons and actions    |
    |  09. #MOBILE                   |  mobile view dropdown          |
    |  10. #SEARCH                   |  search field                  |
    |  11. #NAVIGATION               |  left panel & navigation       |
    |  12. #MAIN PANEL               |  main panel                    |
    |  13. #MAIN CONTENT             |  content holder                |
    |  14. #PAGE FOOTER              |  page footer                   |
    |  15. #SHORTCUT AREA            |  dropdown shortcuts area       |
    |  16. #PLUGINS                  |  all scripts and plugins       |

    ===================================================================

    -->
<!-- #BODY -->
<!-- Possible Classes

    * 'smart-style-{SKIN#}'
    * 'smart-rtl'         - Switch theme mode to RTL
    * 'menu-on-top'       - Switch to top navigation (no DOM change required)
    * 'no-menu'			  - Hides the menu completely
    * 'hidden-menu'       - Hides the main menu but still accessable by hovering over left edge
    * 'fixed-header'      - Fixes the header
    * 'fixed-navigation'  - Fixes the main menu
    * 'fixed-ribbon'      - Fixes breadcrumb
    * 'fixed-page-footer' - Fixes footer
    * 'container'         - boxed layout mode (non-responsive: will not work with fixed-navigation & fixed-ribbon)
-->
<body class="smart-style-7 minified">

    @Html.Partial("~/Areas/Manage/Views/Shared/_Header.cshtml")

    @Html.Partial("~/Areas/Manage/Views/Shared/_Aside.cshtml")

    <!-- #MAIN PANEL -->
    <div id="main" role="main">

        <!-- RIBBON -->
        <div id="ribbon">

            <!-- breadcrumb -->
            <ol class="breadcrumb">
                @{
                    var controller = Request.RequestContext.RouteData.Values["controller"];
                    var action = Request.RequestContext.RouteData.Values["action"];
                    var id = Request.RequestContext.RouteData.Values["id"];

                    <li>
                        <a href="/manage/home">Home</a>
                    </li>

                    <li>
                        <a href="/manage/@controller">@controller</a>
                    </li>

                    <li>
                        <a href="/manage/@controller/@action@(Object.ReferenceEquals(id, null) ? "" : "/" + id)">@action</a>
                    </li>

                }
            </ol>

        </div>
        <!-- END RIBBON -->
        <!-- #MAIN CONTENT -->
        <div id="content">
                @RenderBody()
        </div>
        
    </div>
    <!-- END #MAIN PANEL -->

    @Html.Partial("~/Areas/Manage/Views/Shared/_Footer.cshtml")

    <!-- #SHORTCUT AREA : With large tiles (activated via clicking user name tag)
         Note: These tiles are completely responsive, you can add as many as you like -->

    <div id="shortcut">
        <ul>
            <li>
                <a href="index.html" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i class="fa fa-envelope fa-4x"></i> <span>Mail <span class="label pull-right bg-color-darken">14</span></span> </span> </a>
            </li>
        </ul>
    </div>
    <!-- END SHORTCUT AREA -->
    <!--================================================== -->
    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)
    <script data-pace-options='{ "restartOnRequestAfter": true }' src="js/plugin/pace/pace.min.js"></script>-->
    <!-- #PLUGINS -->

    

    <script src="~/Scripts/jquery-2.1.1.min.js"></script>

    <script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
 
    @Scripts.Render("~/bundles/jqueryval")


    <script src="~/Scripts/areas/manage/bootstrap/bootstrap.js"></script>
    <script src="~/Scripts/areas/manage/app.config.seed.js"></script>
    <script src="~/Scripts/areas/manage/app.seed.js"></script>

    <script>
        $(document).ready(function () {
            pageSetUp();
        });

        /* ======= Style Switcher (REMOVE ON YOUR PRODUCTION SITE) ======= */



        $(window).scroll(function () {
            var offset = 100;
            var topVal = $(window).scrollTop() + offset;
            $(".config-wrapper").offset({ top: topVal });
        });

        
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
