@model Company.Areas.Manage.Models.CrudSProduct

@using Company.Extends.Language
@using Company.Extends.Library
@using System.Threading

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";

    var currentLanguage = Thread.CurrentThread.CurrentCulture.IetfLanguageTag;
    var language = new Language();
    var LanguageList = language.LanguageList(currentLanguage);

    List<SelectListItem> item = new List<SelectListItem>();
    item.Add(new SelectListItem { Text = "True", Value = "True" });
    item.Add(new SelectListItem { Text = "False", Value = "False" });

}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.SProduct.Id)
    @Html.HiddenFor(m => m.SProduct.CreateTime)

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                @Html.LabelFor(model => model.SProduct.Slider)
                @Html.DropDownListFor(m => m.SProduct.Slider, new SelectList(item, "Value", "Text"), new { @class = "selectpicker form-control" })
                @Html.ValidationMessageFor(model => model.SProduct.Slider, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                @Html.LabelFor(model => model.SProduct.Enable)
                @Html.DropDownListFor(m => m.SProduct.Enable, new SelectList(item, "Value", "Text"), new { @class = "selectpicker form-control" })
                @Html.ValidationMessageFor(model => model.SProduct.Enable, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row margin-bottom-5 margin-top-5">
        <div class="col-md-12">
            <div class="widget-body">
                <ul id="tab-language" class="nav nav-tabs bordered">
                    @{
                        foreach (var l in LanguageList)
                        {
                            <li class="@((l.CodeCheck == l.CodeObject)? "active" : "")">
                                <a href="#@l.Id" data-toggle="tab">@l.Name</a>
                            </li>
                        }
                    }
                    @*<li class="pull-right">
                            <a href="javascript:void(0);">
                                <div class="sparkline txt-color-pinkDark text-align-right" data-sparkline-height="18px" data-sparkline-width="90px" data-sparkline-barwidth="7">
                                    5,10,6,7,4,3
                                </div>
                            </a>
                        </li>*@
                </ul>
                <div id="tab-content-language" class="tab-content padding-10">
                    @{
                        foreach (var l in LanguageList)
                        {
                            <div class="tab-pane fade in @((l.CodeCheck == l.CodeObject)? "active" : "")" id="@l.Id">
                                @foreach (var m in Model.SProductLanguage)
                                {
                                    if (m.Key.Equals(l.CodeCheck))
                                    {
                                        @Html.HiddenFor(model => model.SProductLanguage[m.Key].Id)
                                        @Html.HiddenFor(model => model.SProductLanguage[m.Key].SProductId)
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.SProductLanguage[m.Key].Name)
                                                    @Html.TextBoxFor(model => model.SProductLanguage[m.Key].Name, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.SProductLanguage[l.CodeCheck].Image)
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(model => model.SProductLanguage[l.CodeCheck].Image, new { @id = "text-image-logo-" + @l.CodeCheck, @class = "form-control" })
                                                        <span class="input-group-btn">
                                                            <button id="upload-image-logo-@l.CodeCheck" class="btn btn-default" type="button">Browser...</button>
                                                        </span>
                                                    </div><!-- /input-group -->
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.SProductLanguage[l.CodeCheck].Describe, new { @class = "" })
                                                    @Html.TextBoxFor(model => model.SProductLanguage[l.CodeCheck].Describe, new { @class = "form-control" })
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.SProductLanguage[l.CodeCheck].FuncTitle, new { @class = "" })
                                                    @Html.TextBoxFor(model => model.SProductLanguage[l.CodeCheck].FuncTitle, new { @class = "form-control" })
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.SProductLanguage[l.CodeCheck].FuncDescribe, new { @class = "" })
                                                    @Html.TextBoxFor(model => model.SProductLanguage[l.CodeCheck].FuncDescribe, new { @class = "form-control" })
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.SProductLanguage[l.CodeCheck].FuncList1, new { @class = "" })
                                                    @Html.TextBoxFor(model => model.SProductLanguage[l.CodeCheck].FuncList1, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.SProductLanguage[l.CodeCheck].FuncList2, new { @class = "" })
                                                    @Html.TextBoxFor(model => model.SProductLanguage[l.CodeCheck].FuncList2, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.SProductLanguage[l.CodeCheck].FuncList3, new { @class = "" })
                                                    @Html.TextBoxFor(model => model.SProductLanguage[l.CodeCheck].FuncList3, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.SProductLanguage[l.CodeCheck].FuncList4, new { @class = "" })
                                                    @Html.TextBoxFor(model => model.SProductLanguage[l.CodeCheck].FuncList4, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.SProductLanguage[l.CodeCheck].FuncList5, new { @class = "" })
                                                    @Html.TextBoxFor(model => model.SProductLanguage[l.CodeCheck].FuncList5, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.SProductLanguage[l.CodeCheck].FuncList6, new { @class = "" })
                                                    @Html.TextBoxFor(model => model.SProductLanguage[l.CodeCheck].FuncList6, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.SProductLanguage[l.CodeCheck].FuncList7, new { @class = "" })
                                                    @Html.TextBoxFor(model => model.SProductLanguage[l.CodeCheck].FuncList7, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.SProductLanguage[l.CodeCheck].FuncList8, new { @class = "" })
                                                    @Html.TextBoxFor(model => model.SProductLanguage[l.CodeCheck].FuncList8, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.SProductLanguage[l.CodeCheck].FuncList9, new { @class = "" })
                                                    @Html.TextBoxFor(model => model.SProductLanguage[l.CodeCheck].FuncList9, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.SProductLanguage[l.CodeCheck].FuncList10, new { @class = "" })
                                                    @Html.TextBoxFor(model => model.SProductLanguage[l.CodeCheck].FuncList10, new { @class = "form-control" })
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.SProductLanguage[l.CodeCheck].CustomerTitle, new { @class = "" })
                                                    @Html.TextBoxFor(model => model.SProductLanguage[l.CodeCheck].CustomerTitle, new { @class = "form-control" })
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.SProductLanguage[l.CodeCheck].CustomerDescribe, new { @class = "" })
                                                    @Html.TextBoxFor(model => model.SProductLanguage[l.CodeCheck].CustomerDescribe, new { @class = "form-control" })
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.SProductLanguage[l.CodeCheck].CustomerImage1)
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(model => model.SProductLanguage[l.CodeCheck].CustomerImage1, new { @id = "text-image-c1-" + @l.CodeCheck, @class = "form-control" })
                                                        <span class="input-group-btn">
                                                            <button id="upload-image-c1-@l.CodeCheck" class="btn btn-default" type="button">Browser...</button>
                                                        </span>
                                                    </div><!-- /input-group -->
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.SProductLanguage[l.CodeCheck].CustomerImage2)
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(model => model.SProductLanguage[l.CodeCheck].CustomerImage2, new { @id = "text-image-c2-" + @l.CodeCheck, @class = "form-control" })
                                                        <span class="input-group-btn">
                                                            <button id="upload-image-c2-@l.CodeCheck" class="btn btn-default" type="button">Browser...</button>
                                                        </span>
                                                    </div><!-- /input-group -->
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.SProductLanguage[l.CodeCheck].CustomerImage3)
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(model => model.SProductLanguage[l.CodeCheck].CustomerImage3, new { @id = "text-image-c3-" + @l.CodeCheck, @class = "form-control" })
                                                        <span class="input-group-btn">
                                                            <button id="upload-image-c3-@l.CodeCheck" class="btn btn-default" type="button">Browser...</button>
                                                        </span>
                                                    </div><!-- /input-group -->
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.SProductLanguage[l.CodeCheck].CustomerImage4)
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(model => model.SProductLanguage[l.CodeCheck].CustomerImage4, new { @id = "text-image-c4-" + @l.CodeCheck, @class = "form-control" })
                                                        <span class="input-group-btn">
                                                            <button id="upload-image-c4-@l.CodeCheck" class="btn btn-default" type="button">Browser...</button>
                                                        </span>
                                                    </div><!-- /input-group -->
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.SProductLanguage[l.CodeCheck].CustomerImage5)
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(model => model.SProductLanguage[l.CodeCheck].CustomerImage5, new { @id = "text-image-c5-" + @l.CodeCheck, @class = "form-control" })
                                                        <span class="input-group-btn">
                                                            <button id="upload-image-c5-@l.CodeCheck" class="btn btn-default" type="button">Browser...</button>
                                                        </span>
                                                    </div><!-- /input-group -->
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.SProductLanguage[l.CodeCheck].CustomerImage6)
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(model => model.SProductLanguage[l.CodeCheck].CustomerImage6, new { @id = "text-image-c6-" + @l.CodeCheck, @class = "form-control" })
                                                        <span class="input-group-btn">
                                                            <button id="upload-image-c6-@l.CodeCheck" class="btn btn-default" type="button">Browser...</button>
                                                        </span>
                                                    </div><!-- /input-group -->
                                                </div>
                                            </div>

                                            @Html.HiddenFor(model => model.SProductLanguage[m.Key].LanguageId, new { @Value = l.Id, @readonly = "readonly" })
                                        </div>
                                    }
                                }
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a id="back_btn" class="btn btn-default" href="@Url.Action("Index")" role="button">Back</a>
            <input class="btn btn-default btn-success" type="submit" value="Submit">
        </div>
    </div>


                        }
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Extends/Content/Plugin/ckfinder/ckfinder.js"></script>
    <script>
        var finder = new CKFinder();
        $(document).ready(function () {

            @foreach(var ll in LanguageList)
            {
                @:file("#upload-image-logo-@ll.CodeCheck ", "text-image-logo-@ll.CodeCheck");
                @:file("#upload-image-c1-@ll.CodeCheck ", "text-image-c1-@ll.CodeCheck");
                @:file("#upload-image-c2-@ll.CodeCheck ", "text-image-c2-@ll.CodeCheck");
                @:file("#upload-image-c3-@ll.CodeCheck ", "text-image-c3-@ll.CodeCheck");
                @:file("#upload-image-c4-@ll.CodeCheck ", "text-image-c4-@ll.CodeCheck");
                @:file("#upload-image-c5-@ll.CodeCheck ", "text-image-c5-@ll.CodeCheck");
                @:file("#upload-image-c6-@ll.CodeCheck ", "text-image-c6-@ll.CodeCheck");



            }
        });

        function file(buttonId, txtboxId) {
            $(buttonId).click(function () {
                finder.selectActionFunction = function (fileUrl) {
                    document.getElementById(txtboxId).value = fileUrl;
                }
                finder.popup();
            });
        }
    </script>
}