@model IEnumerable<Company.Areas.Manage.Models.CrudSProduct>
@using Microsoft.AspNet.Identity.Owin
@using Company.Models
@using System.Threading
@{
    ViewBag.Title = "SProduct List";
    Layout = "~/Areas/Manage/Views/Shared/_Table.cshtml";
}

@{
    var UserManage = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>();
    string language = Thread.CurrentThread.CurrentCulture.IetfLanguageTag;
}

<thead>
    <tr>
        <th data-hide="phone">
            <i class="fa fa-fw fa-list-ol text-muted hidden-md hidden-sm hidden-xs"></i>
            #
        </th>
        <th data-class="expand">
            <i class="fa fa-fw fa-id-card text-muted hidden-md hidden-sm hidden-xs"></i>
            @Html.DisplayNameFor(model => model.SProductLanguage[language].Name)
        </th>
        <th data-hide="phone,tablet">
            <i class="fa fa-fw fa-list-ol text-muted hidden-md hidden-sm hidden-xs"></i>
            @Html.DisplayNameFor(model => model.SProduct.Slider)
        </th>
        <th data-hide="phone,tablet">
            <i class="fa fa-fw fa-yelp text-muted hidden-md hidden-sm hidden-xs"></i>
            @Html.DisplayNameFor(model => model.SProduct.Enable)
        </th>
        <th data-hide="phone,tablet">
            <i class="fa fa-fw fa-yelp text-muted hidden-md hidden-sm hidden-xs"></i>
            @Html.DisplayNameFor(model => model.SProduct.LastEditTime)
        </th>
        <th data-hide="phone,tablet">
            <i class="fa fa-fw fa-yelp text-muted hidden-md hidden-sm hidden-xs"></i>
            @Html.DisplayNameFor(model => model.SProduct.LastEditUser)
        </th>
        <th data-hide="phone,tablet">
            <i class="fa fa-fw fa-calendar text-muted hidden-md hidden-sm hidden-xs"></i>
            @Html.DisplayNameFor(model => model.SProduct.CreateTime)
        </th>
        <th data-hide="phone,tablet">
            <i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i>
            @Html.DisplayNameFor(model => model.SProduct.CreateUser)
        </th>
        <th data-hide="phone,tablet">
            <i class="fa fa-fw fa-terminal text-muted hidden-md hidden-sm hidden-xs"></i>
            Action
        </th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.SProduct.Id
            </td>
            <td>
                @foreach (var ml in item.SProductLanguage)
                {
                    if (ml.Key.Equals(language))
                    {
                        @Html.DisplayFor(modelItem => ml.Value.Name)
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SProduct.Slider)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SProduct.Enable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SProduct.LastEditTime)
            </td>
            <td>
                @{
                    try
                    {
                        @UserManage.FindByIdAsync(item.SProduct.LastEditUser).Result.UserName;
                    }
                    catch
                    {
                        <label>Null</label>;
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SProduct.CreateTime)
            </td>
            <td>
                @{
                    try
                    {
                        @UserManage.FindByIdAsync(item.SProduct.CreateUser).Result.UserName;
                    }
                    catch
                    {
                        <label>Null</label>;
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SProduct.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.SProduct.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SProduct.Id })
            </td>
        </tr>
 }
</tbody>
