@using Company.Extends.Language
@using Company.Extends.Library
@using System.Threading

@{
    var returnUrl = ViewData["returnUrl"];
    var currentLanguage = Thread.CurrentThread.CurrentCulture.IetfLanguageTag;
    var language = new Language();
    var langOut = "";
    var LanguageList = language.LanguageList(currentLanguage, out langOut);
}

<div class="topbar-v3">
    <div class="search-open">
        <div class="container">
            <input type="text" class="form-control" placeholder="Search">
            <div class="search-close"><i class="icon-close"></i></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <!-- Topbar Navigation -->
                <ul class="left-topbar">
                    @*<li>
                        <a>Currency (USD)</a>
                        <ul class="currency">
                            <li class="active">
                                <a href="#">USD <i class="fa fa-check"></i></a>
                            </li>
                            <li><a href="#">Euro</a></li>
                            <li><a href="#">Pound</a></li>
                        </ul>
                    </li>*@
                    @*<li class="nav-item dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">@langOut <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            @{
                                foreach (var l in LanguageList)
                                {
                                    <li>
                                        <a href="@Url.Action("Change", "Language", new { area = "", culture = l.CodeCheck, returnUrl = returnUrl }, null)">
                                            @l.Name
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>*@
                    <li>
                        <a>@langOut</a>
                        <ul class="language">
                            @{
                                foreach (var l in LanguageList)
                                {
                                    if (langOut == l.Name)
                                    {
                                        <li class="active">
                                            <a href="@Url.Action("Change", "Language", new { area = "", culture = l.CodeCheck, returnUrl = returnUrl }, null)">
                                                @l.Name
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="@Url.Action("Change", "Language", new { area = "", culture = l.CodeCheck, returnUrl = returnUrl }, null)">
                                                @l.Name
                                            </a>
                                        </li>
                                    }

                                }
                            }
                            @*<li class="active">
                                <a href="#">English (EN)<i class="fa fa-check"></i></a>
                            </li>
                            <li><a href="#">Vietnamese (VN)</a></li>*@
                        </ul>
                    </li>
                </ul><!--/end left-topbar-->
            </div>
            <div class="col-sm-6">
                <ul class="list-inline right-topbar pull-right">
                    @*<li><a href="#">Account</a></li>
                    <li><a href="shop-ui-add-to-cart.html">Wishlist (0)</a></li>*@
                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            <a href="@Url.Action("Index","Home", routeValues: new { area = "manage"})">
                                <span class="fa fa-cogs"></span>
                            </a>
                        </li>
                    }
                   <li>
                       @Html.Partial("~/Areas/User/Views/Shared/_LoginPartial.cshtml")
                   </li>
                    
                    @*<li><a href="@Url.Action("Login","Account", new { area = "User" }, null)">Login</a> | <a href="@Url.Action("Register","Account", new { area = "User" }, null)">Register</a></li>*@
                    




                    @*@Html.Partial("~/Areas/User/Views/Shared/_LoginPartial.cshtml")*@

                    @*<li><a href="@Url.Action("Login","Account", new { area = "User" }, null)">Login</a> | <a href="@Url.Action("Register","Account", new { area = "User" }, null)">Register</a></li>*@
                    @*<li><i class="search fa fa-search search-button"></i></li>*@
                </ul>
            </div>
        </div>
    </div><!--/container-->
</div>
