@model Sales.Areas.Manage.Models.Slider

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Create.Time)
    @Html.HiddenFor(model => model.Create.User)


    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: null)
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter name" } })
                <small id="nameHelp" class="form-text text-muted">
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </small>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Image, htmlAttributes: null)
                @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter path", @id = "input-image-path" } })
                <small id="nameHelp" class="form-text text-muted">
                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                </small>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                @Html.LabelFor(model => model.Image, htmlAttributes: null)
                <input class="form-control" type="button" id="button-image-upload" value="Tải lên" />
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                @Html.LabelFor(model => model.Order, htmlAttributes: null)
                @Html.EditorFor(model => model.Order, new { htmlAttributes = new { @class = "form-control", @placeholder = "Thứ tự" } })
                <small id="nameHelp" class="form-text text-muted">
                    @Html.ValidationMessageFor(model => model.Order, "", new { @class = "text-danger" })
                </small>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                @Html.LabelFor(model => model.Visible, htmlAttributes: null)
                @Html.EditorFor(model => model.Visible, new { htmlAttributes = new { @class = "form-control", @style = "margin:0 auto;" } })
                <small id="nameHelp" class="form-text text-muted">
                    @Html.ValidationMessageFor(model => model.Visible, "", new { @class = "text-danger" })
                </small>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                @Html.LabelFor(model => model.Content, htmlAttributes: null)
                @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nội dung" } })
                <small id="nameHelp" class="form-text text-muted">
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </small>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Target, htmlAttributes: null)
                @Html.EditorFor(model => model.Target, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nội dung" } })
                <small id="nameHelp" class="form-text text-muted">
                    @Html.ValidationMessageFor(model => model.Target, "", new { @class = "text-danger" })
                </small>
            </div>
        </div>
    </div>





    <div class="row">
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts{
    <script src="~/Plugins/ckfinder/ckfinder.js"></script>
    <script>
        var finder = new CKFinder();
        $(document).ready(function () {

            file("button-image-upload", "input-image-path");

        });


        function file(buttonId, txtboxId) {
            $('#' + buttonId).click(function () {
                finder.selectActionFunction = function (fileUrl) {
                    document.getElementById(txtboxId).value = fileUrl;
                }
                finder.popup();
            });
        }
    </script>
}
