@model IEnumerable<Sales.Areas.Manage.Models.Slider>

@{
    ViewBag.Title = "Index";
    ViewBag.Name = "Danh sách Slider";
    Layout = "~/Areas/Manage/Views/Shared/_Table.cshtml";
}


<thead>
    <tr>
        <th data-class="expand">
            <i class="fa fa-fw fa-id-card text-muted hidden-md hidden-sm hidden-xs"></i>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th data-hide="phone,tablet">
            <i class="fa fa-fw fa-image text-muted hidden-md hidden-sm hidden-xs"></i>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th data-hide="phone,tablet">
            <i class="fa fa-fw fa-list text-muted hidden-md hidden-sm hidden-xs"></i>
            @Html.DisplayNameFor(model => model.Order)
        </th>
        <th data-hide="phone,tablet">
            <i class="fa fa-fw fa-yelp text-muted hidden-md hidden-sm hidden-xs"></i>
            @Html.DisplayNameFor(model => model.Visible)
        </th>
        <th data-hide="phone,tablet">
            <i class="fa fa-fw fa-yelp text-muted hidden-md hidden-sm hidden-xs"></i>
            @Html.DisplayNameFor(model => model.Edit)
        </th>
        <th data-hide="phone,tablet">
            <i class="fa fa-fw fa-yelp text-muted hidden-md hidden-sm hidden-xs"></i>
            @Html.DisplayNameFor(model => model.Create)
        </th>
        <th data-hide="phone,tablet">
            <i class="fa fa-fw fa-terminal text-muted hidden-md hidden-sm hidden-xs"></i>
            Action
        </th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Image)*@
                <div style="max-width:100px; max-height:100px;">
                    <img class="img-responsive img-thumbnail" src="@item.Image" alt="@item.Name">
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visible)
            </td>
            <td>
                Time: @Html.DisplayFor(modelItem => item.Edit.Time)
                <br>
                User: @Html.Action("GetUserName", "Data", routeValues: new { area = "user", id = item.Edit.User })
            </td>
            <td>
                Time: @Html.DisplayFor(modelItem => item.Create.Time)
                <br>
                User: @Html.Action("GetUserName", "Data", routeValues: new { area = "user", id = item.Create.User })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</tbody>
