@model IEnumerable<Company.Areas.Manage.Models.CrudProduct>
@using Microsoft.AspNet.Identity.Owin
@using System.Threading
@using Company.Models
@{
    ViewBag.Title = "Category List";
    Layout = "~/Areas/Manage/Views/Shared/_Table.cshtml";
}

@{
    var UserManage = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>();
    string language = Thread.CurrentThread.CurrentCulture.IetfLanguageTag;
}

<thead>
    <tr>
        <th data-hide="phone">
            <i class="fa fa-fw fa-list-ol text-muted hidden-md hidden-sm hidden-xs"></i>
            #
        </th>
        <th data-class="expand">
            <i class="fa fa-fw fa-id-card text-muted hidden-md hidden-sm hidden-xs"></i>
            @Html.DisplayNameFor(model => model.ProductLanguage[language].Name)
        </th>
        <th data-hide="phone,tablet">
            <i class="fa fa-fw fa-yelp text-muted hidden-md hidden-sm hidden-xs"></i>
            @Html.DisplayNameFor(model => model.ProductLanguage[language].Describle)
        </th>
        <th data-hide="phone,tablet">
            <i class="fa fa-fw fa-terminal text-muted hidden-md hidden-sm hidden-xs"></i>
            Action
        </th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Product.Id
            </td>
            <td>
                @foreach (var cl in item.ProductLanguage)
                {
                    if (cl.Key.Equals(language))
                    {
                        @Html.DisplayFor(modelItem => cl.Value.Name)
                    }
                }
            </td>

            <td>
                @foreach (var cl in item.ProductLanguage)
                {
                    if (cl.Key.Equals(language))
                    {
                        @Html.DisplayFor(modelItem => cl.Value.Describle)
                    }
                }
            </td>
           
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Product.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Product.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Product.Id })
            </td>
        </tr>
                    }
</tbody>
